.swiper-container {
    width: 100vw;
    height: 100vh;
}
.swiper-slide{
    background-image: url("../image/phone-1/img5.png");
}
.header{
    width: 100%;
    height: 100%;
}
.btn1{
    width: 6.1rem;
    height: .64rem;
    background: #8fcc4e;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.shadow{
    width: 6.1rem;
    height: 3.9rem;
    background: rgba(0,0,0,.1);

}
.fonts{
    font-size: 0px;
}
.c1{
    color: white;
}
.t1{
    font-size: 33px;
    margin: 20px 0 20px 0;
    text-shadow:2px 2px 2px #373737;
}
.t2{
    font-size: 18px;
    margin-bottom: 13px;
}
.img1{
    width: 2.9rem;
    height: 2.9rem;
    margin: 8px 0 11px 0;
}
.t3{
    font-size: 14px;
    color: white;
}
.t4{
    font-size: 18px;
    color: white;
}
.img2{
    margin: 40px 0 20px 0;
}
.btn2{
    width: 6.1rem;
    height: .64rem;
    background: #42adff;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.c2{
    margin-top: 1.4rem;
}
.c2t{
    margin-top: 4.4rem;
    margin-bottom: .12rem;
}